.calendar {
    th{
        text-align: center;
        padding: 5px;
        font-size: 15px;
        font-weight: 600;
        border: 2px solid darkgrey;
    }
    td{
        text-align: center;
        padding: 23px;
        font-size: 17px;
        font-weight: 500;
        border: 1px solid darkgrey;
    }
}
