.checkbox {
    $this: &;

    @include check-radio;

    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: $distance--xxs;
    min-height: $input-height;

    @include media('>sm') {
        margin-bottom: 0;
        margin-right: $distance--md;
    }

    @include media('>md') {
        margin-right: $distance--sm;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &__label {
        user-select: none;

        // * Para casos onde não teremos um label escrito,
        // * como por exemplo uma listagem com possibilidade de
        // * marcarmos muitos itens para uma ação em massa.
        &:empty {
            height: $input-check-radio-size;
            min-height: 0;
            padding-left: $input-check-radio-size;
        }

        &::after {
            background-color: transparent;
            color: $check-radio-checked-color;
            content: '\e905'; //Código do check
            font-family: 'icomoon';
            font-size: 1em;
            font-weight: bold;
            left: 0;
            position: absolute;
            text-align: center;
            text-rendering: auto;
            top: 50%;
            width: calc(#{$input-check-radio-size} + .1rem);
        }

    }

    &__input:focus ~ &__label {
        outline: $focus-indicator;
    }

    // sanitizer
    &__label + &__input {
        outline: 4px solid crimson;
    }




    &_plataforma{
        padding: .25rem;
        appearance: none;
        background-color: #fff;
        margin: 0;
        margin-right: 0.2em;
        font: inherit;
        color: #A3C94B;
        border: 0.10em solid rgb(207, 211, 213);
        border-radius: 0.15em;
        display: inline-flex;
        place-content: center;

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            background-color: #A3C94B;
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        &:checked::before {
            transform: scale(1);
        }

        &:focus {
            outline: max(2px, 0.15em) solid rgb(207, 211, 213);
            outline-offset: max(2px, 0.15em);
        }
    }
}
