
.modal {
    $this: &;

    -webkit-overflow-scrolling: touch;
    bottom: 0;
    display: none;
    left: 0;
    height: 100%; // iPad precisa da altura definida. Testado em 04/10/2018 em iPad 2, Safari.
    margin-top: 0 !important; // DIRTY Retirar quando o modal for centralizado no application.hbs
    outline: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: -1;

    &--is-show {
        @include z-index(modal);

        display: block;
        visibility: visible;
    }

    &--is-registered-email {
        text-align: center;
        font-weight: 600;
        color: $blue-navy-40;
    }

    &--adjust-btn-on-mobile  {
       
        @include media('<sm') {
               width: 100% !important;
           
        }
    }

    & .t-center{
        text-align: center;

        & p{
            margin: 1rem auto; 
        }
       
    }

    & .passoapasso{
        width: 100%;
         height: 0px;
       // display: none;
        z-index: 9999999999;
        position: relative;
        margin: 1rem auto;   
        transform-origin: top;
        transition: height 1s ease-in;

   &__imagem{
       background-image: url("/assets/img/infografico-cadastro-usuarios.jpg");
       background-size: 100%;
       width: 100%;
       height: inherit;
       background-repeat: no-repeat;
   }
        
    }

    &__eja{
        max-width: 40rem !important;
    }

    & .img-passoapasso{
       height: 2600px;
       padding: $distance--sm;
       transition: height 1s ease-in;
       position: relative;
    }

    & .giro {
        transform: rotate(-180deg);
        cursor: pointer;
    }

    & .seta{
        cursor: pointer;
        margin: 1rem auto;
      }

      & .destaque{
        color: #009e47;
      }
      
    &__content {
        background-clip: padding-box;
        background-color: $white;
        border-radius: $radius;
        box-shadow: $shadow-5;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 96%;
        max-width: 70rem;
        outline: 0;
        opacity: 0;
        padding: $distance--lg $distance--md $distance--md;
        position: relative;
        top: 50%;
        transform: translateY(-45%);
        transition: 300ms;
        width: 96%;
        z-index: 2;
        overflow: hidden;


        [class*='is-show'] & {
            transition-delay: 100ms;
            opacity: 1;
            transform: translateY(-50%);
        }

        [class*='is-content'] & {
            align-items: center;
            background-color: transparent;
            box-shadow: none;
            display: flex;
            flex-direction: row;
            // height: 100%;
            justify-content: center;
            padding: 0;
        }

        &--sm {
           max-width: 24rem;
        }


        &--md {
            max-width: 32rem;
        }

        &--lg {
            max-width: 90vw;
        }

        &--no-overflow {
            overflow: hidden;
        }

        &--banner-final{
            position: absolute;
            margin: 10% auto;
            text-align: center;
            width: 100%;
            top: 0;
            color: #fff;
            z-index: 999999999;
            display: block;

            @include media('<md') {
                margin: 50% auto;
            
         }

            @include media('<sm') {
                margin: 50% auto;
            
         }
        }
    }

    &__close {
        background-color: $white;
    }

    &__header {
        flex: 0 0 auto;
        padding-bottom: $distance--xs;
    }

    &__title {
        @include title-2;
    }

    // Acho que está descontinuado...
    &__subtitle {
        @include title-3;

        margin-bottom: $distance--sm;

        &:not(:first-child) {
            margin-top: $distance--xxl;
        }

    }

    &__body {

        @include overflow-y;

        max-height: 60vh;
        padding-left: $focus-line-width; // Para que campos de input não tenham o outline a esquerda cortados.
        padding-right: $distance--md;

        [class*='is-content'] & {
            display: flex;
            flex-direction: column;
            flex: 1;
            // height: 90vh;
            justify-content: center;
            max-height: 100%;
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
        }

        @include target-ipad {
            flex-basis: auto; // iPad precisa do flex-shrink 0, caso contrário conteúdo some. Testado em 04/10/2018 em iPad 2, Safari.
        }

        @include target-ie {
            flex: 1 0 auto;
        }

        &--inside-scroll {
            overflow: visible;
        }

        > *:not(:only-child):not(:last-child) {
            margin-bottom: $distance--lg;
        }

    }

    &__footer {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        gap: $distance--sm;
        justify-content: flex-end;
        padding-top: $distance--md;

        .no-flexbox-gap & {
            > *:not(:last-child) {
                margin-right: $distance--sm;
            }
        }

        &--center {
            justify-content: center;
        }

    }

    &__overlayer {
        background-color: $overlayer-color;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
        transition: 200ms var(--ease-in-out-quad);
      

        [class*='is-show'] & {
            opacity: $overlayer-opacity;
        }

    }

    
    &__login-recovery-container {
        display: flex;

        
    }
    
    &__is-login-recovery {
        background-color: $gray-20;
        display: flex;
        width: 100%;
        height: 80%;
        //outline: solid red 2px;
        flex-direction: column;
        align-items: center;
        padding: $distance--sm;
        // position: absolute;
        // left: 0;
        

        &--cities-list {
            display: flex;
            height: 100%;
            position: relative;
            width: 100%;
            bottom: 0;
            overflow: auto;
            margin-top: $distance--md;

            > ul {
                display: flex;
                align-self: baseline;
                padding: 0 1.5rem 0 1.5rem;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                position: relative;
                flex-grow: 1;
                flex-wrap: wrap;
                
            }

            > ul > li {
                margin: $distance--xxs;
                flex-grow: 1;
                flex-basis: 100%;
            }

            > ul > li > button {
                width: 100%;
            }

        }

        > p {
            font-size: $font-size--lg;
            font-weight: 600;
            text-align: center;
            padding: $distance--md;
        }

        > button {
            width: 50%;
        }

        &--login--was-found {
            //outline: solid red 2px;
            background-color: $leaf-40;
            color: $white;
            box-shadow: $shadow-3;
            padding: $distance--md;
            font-size: $font-size--lg;
            width: 100%;

            &__copy-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                justify-content: center;
                padding: $btn-pad--md;
                
                &::after {
                    content: 'copiar';
                    margin-top: 5px;
                }

                
            }
        }



        &__carousel {

            &--0 {
                [class*='step--0'] { opacity: 1; visibility: visible; position: absolute; left: 0;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 0; visibility: hidden; };
                [class*='step--3'] { opacity: 0; visibility: hidden; };
                [class*='step--4'] { opacity: 0; visibility: hidden; };
                [class*='step--5'] { opacity: 0; visibility: hidden; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }

            &--email {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 1; visibility: visible; position: absolute; left: 0;};
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 0; visibility: hidden; };
                [class*='step--3'] { opacity: 0; visibility: hidden; };
                [class*='step--4'] { opacity: 0; visibility: hidden; };
                [class*='step--5'] { opacity: 0; visibility: hidden; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }



            &--1 {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 1; visibility: visible; position: absolute; left: 0;};
                [class*='step--2'] { opacity: 0; visibility: hidden; };
                [class*='step--3'] { opacity: 0; visibility: hidden; };
                [class*='step--4'] { opacity: 0; visibility: hidden; };
                [class*='step--5'] { opacity: 0; visibility: hidden; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }

            &--2 {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 1; visibility: visible; position: absolute; left: 0;};
                [class*='step--3'] { opacity: 0; visibility: hidden; };
                [class*='step--4'] { opacity: 0; visibility: hidden; };
                [class*='step--5'] { opacity: 0; visibility: hidden; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }

            &--3 {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 0; visibility: hidden;};
                [class*='step--3'] { opacity: 1; visibility: visible; position: absolute; left: 0;};
                [class*='step--4'] { opacity: 0; visibility: hidden; };
                [class*='step--5'] { opacity: 0; visibility: hidden; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }

            &--4 {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 0; visibility: hidden;};
                [class*='step--3'] { opacity: 0; visibility: hidden;};
                [class*='step--4'] { opacity: 1; visibility: visible; position: absolute; left: 0;};
                [class*='step--5'] { opacity: 0; visibility: hidden; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }

            &--5 {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 0; visibility: hidden;};
                [class*='step--3'] { opacity: 0; visibility: hidden;};
                [class*='step--4'] { opacity: 0; visibility: hidden;};
                [class*='step--5'] { opacity: 1; visibility: visible; position: absolute; left: 0; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }

            &--6 {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 0; visibility: hidden;};
                [class*='step--3'] { opacity: 0; visibility: hidden;};
                [class*='step--4'] { opacity: 0; visibility: hidden;};
                [class*='step--5'] { opacity: 0; visibility: hidden;};
                [class*='step--6'] { opacity: 1; visibility: visible; position: absolute; left: 0; };
                [class*='step--resgate'] { opacity: 0; visibility: hidden; };
            }


            &--resgate {
                [class*='step--0'] { opacity: 0; visibility: hidden;};
                [class*='step--email'] { opacity: 0; visibility: hidden; };
                [class*='step--1'] { opacity: 0; visibility: hidden; };
                [class*='step--2'] { opacity: 0; visibility: hidden;};
                [class*='step--3'] { opacity: 0; visibility: hidden;};
                [class*='step--4'] { opacity: 0; visibility: hidden;};
                [class*='step--5'] { opacity: 0; visibility: hidden; };
                [class*='step--6'] { opacity: 0; visibility: hidden; };
                [class*='step--resgate'] {  opacity: 1; visibility: visible; position: absolute; left: 0; };

            }


        }


    }

    &--large-height {
        height: 35rem;
    }

}
