<aside id="new_inst_modal" class="modal modal--is-show">
    <div class="modal__overlayer"></div>
    <div class="modal__content  m-top--md">
        <header class="modal__header">
            {{#link-to 'gersistema'}}
            <button class="modal__close btn-close icon-x"></button>
            {{/link-to}}
            <h3 class="modal__title">Nova Instituição</h3>
        </header>
        <div class="modal__body" style="max-height: 75vh;">
            {{inst-form changeset=(changeset model.newInst InstValidations) segmentos=model.segmentos calendarios=model.calendarios action=(action 'save') isEdit=false}}
        </div>
    </div>
</aside>