<aside id="new_aula_modal" class="modal modal--is-show">
    <div class="modal__overlayer"></div>
    <div class="modal__content m-top--md">
        <header class="modal__header">
            {{#link-to 'aulas.index'}}
                <button class="modal__close btn-close icon-x"></button>
            {{/link-to}}
            <h3 class="modal__title">Nova aula</h3>
        </header>

        <div class="modal__body" style="max-height: 75vh;">
            {{aula-form aula=model.newAula calendarios=model.calendarios competencias=model.competencias action=(action 'create')}}
        </div>
    </div>
</aside>