<style>
       #header_layout {
            display: none;
        }
  </style>
<div id="loader" class="loader">
    <div class="loader__circle">
      <img src="/assets/img/loader.gif">
    </div>
    <span class="loader--text">Carregando...</span>
</div>