<aside id="new_user_modal" class="modal modal--is-show">
    <div class="modal__overlayer"></div>
    <div class="modal__content m-top--md">
        <header class="modal__header">
            {{#link-to 'gerdata.users' instituicao.id}}
                <button class="modal__close btn-close icon-x"></button>
            {{/link-to}}
            <h3 class="modal__title">Remoção do usuário <b class='color-green-40'>{{model.pessoa.name}}</b></h3>
        </header>

        <div class="modal__body" style="max-height: 75vh;">
            <h4>Tem certeza que deseja remover essa pessoa?</h4>
            <div class="flex flx-row justify-content-end">
                <div class="color-error-40 m-bottom--lg" id="form-inst-error"></div>
                <button class="btn" type="submit" {{action 'delete' }}>Excluir</button>
            </div>
        </div>
    </div>
</aside>
