.box-area{
    width: 100%;
    height: auto;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    @include media('<sm') {
        display: inline-block;
        
    }

    &__divisor{
        width: 1px;
        margin-right: 3%;
        background-color: #a9a9a9;
    }

    &__item1{
        width: 23%;
    }

    // &__item1{
    //     padding: 0 2rem;

    //     @include media('<sm') {
    //         margin: 3rem 0;
    //         border: none;
    //         padding: 0;
    //     }   
    // }

    // &__item2{
    //     border-left: 1px solid #a9a9a9;
    //     padding: 0 2rem;
    //     display: block;

    //     @include media('<sm') {
    //         margin: 3rem 0;
    //         border: none;
    //         padding: 0;
    //     }   
    // }


    &__title-4{
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }  

    

    & table{

        & tbody{
            position: relative;

            & .n-encontrado{
                line-height: 5.5;
                text-align: center;
                width: 100%;
                margin: auto;
                position: absolute;
                display: block;
            }
        }

    }

    
    
    & ::before{
        background-image: none;
    }
}


.box-menu{

    border-bottom: none;

    @include media('<sm') {
        border-bottom: none;
        overflow: auto;
        display: -webkit-inline-box;
        width: 100%;
        }

&__acompanhamento{
    width: auto;
    height: auto;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px 4px #a9a9a973;
    box-shadow: inset 0 0 8px 4px #a9a9a973;
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
    border: none;
    margin: auto 0.5rem;
    overflow: auto;


   

    &--is-active{
        background-color: #57b74457;
        width: auto;
    height: auto;
    }

}

}

.acomp-ultimos-acessos{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 0.5rem;
}

.box-tabela{
    width: 100%;
    height: auto;
    border: 1rem solid #fff;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 8px 4px #a9a9a973;
    box-shadow: inset 0 0 8px 4px #a9a9a973;
    display: block;
    grid-template-columns: auto auto auto auto;
    padding: 1rem;

    th{
        font-size: 0.75rem;
        @include media('<sm') {
            font-size: 0.45rem;
            }

    }

    span{
        font-size: 0.75rem;
        @include media('<sm') {
            font-size: 0.45rem;
            }
    }
}

.btn-detalhes{
    font-size: 0.8rem;
    display: inline-block;
    background-color: #607180;
    width: 15px;
    height: 15px;
    border-radius: 23px;
    margin: auto;
    text-align: center;
    color: white;
    margin: auto 0.5rem;
    cursor: pointer;
}

.btn-detalhes-text{
    position: absolute;
    left: 12px;
    bottom: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 50%;
   // border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #fff;
    color: #000;
    /* text-align: center; */
    border-radius: 5px;
    padding: 5px 0.5rem;
    font-size: 0.8rem;
    -webkit-box-shadow: inset 0 0 8px 4px #a9a9a973;
    box-shadow: 0 0 8px 4px #a9a9a973;
    position: absolute;
    z-index: 1;
  }


  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  

  
