.cadastro-lote{
    &--card{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $gray-10;
        padding: 1rem;
        margin-bottom: 1rem;
        
        > :last-child > div {
            //border: solid 2px red;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            border-bottom: solid 1px $gray-30;
        }
    }

    &--inst-segment {
        display: flex;
        font-weight: 600;
        margin-bottom: 0.8rem;
        padding: 0.5rem;
        background-color: hsl(79, 67%, 85%);
    }
    
    &--infos{
        display: flex;
        flex-direction: row;
        width: 100%;
        
        &--title{
            font-size: .9rem;
            font-weight: 700;
            letter-spacing: .05em;
        }

        &--name{
            width: 25%;
        }

        &--nametable{
            width: 25%;
        }

        &--number{
            width: 15%;
            justify-content: center;
        }

        &--action{
            width: 15%;
            text-align: center;
            justify-content: center;
        }
    }

    &--instituicao{
        border: #8AB925 1px solid;
        border-radius: 10px;
        padding: 10px;
    }

    &--subtitle{
        margin: 0.5rem 0rem;
        color: #8AB925;
        font-weight: 500;
        
        &--error{
            color: #dd0f0f;
           
        }
    }
}