// Esse arquivo teve que ser criado por conta
// da estrutura ember que foi montada.
// Seu nome acabou sendo herdado pelo id da tag.
.content-main {
    @include overflow-y;

    height: 100vh;
    z-index: 1;
    background-color: #fafafa;

    &--in-course {
        height: 100vh;
        overflow: hidden;
    }

    .no-header & {
    //     display: block;
    //     flex: 1;
        min-height: 100vh;
    //     overflow: auto;

    //     > * {
    //         display: flex;
    //         flex: 1;
    //         flex-direction: column;
    //         height: auto;
    //     }

    }

}
