.l-timeline {

    // @include full-width-on-main;

    @include full-width-container;

   
    display: flex;
    justify-content: center;
    //max-width: none;
    height: 100%;
    padding: 0;

    >[class*='__section'] {
      margin-bottom: 0;
    }

    @include media('>sm') {
        padding-left: 15vw;
        margin-bottom: -$main-bottom-padding--sm;
        margin-top: -$main-top-padding--sm;
      }

      @include media('>md') {

        margin-bottom: -$main-bottom-padding--md;
        margin-top: -$main-top-padding--md;
      }

      @include media('>lg') {

        margin-bottom: -$main-bottom-padding--lg;
        margin-top: -$main-top-padding--lg;
      }

      &::before {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100%;
        content: '';
        background-color: $default-green;
        background-image: linear-gradient(-115deg, transparentize($default-green, .6) 0%, transparentize($default-green, .2) 50%), url("/assets/img/fundo8.png");
        background-position: cover;
        background-size: cover;
        background-attachment: fixed;

        @include media('<sm') {
          background-image: linear-gradient(-115deg, transparentize($default-green, .9) 0%, transparentize($default-green, .2) 80%);
          background-position: scroll;
          background-size: 100vh;
          background-attachment: initial;
        }
      }

  }
