.l-user-header {
  $this: &;

  display: flex;
  padding: 1.8rem 20rem 1.8rem 20rem;
  max-height: 6.25rem;
  height: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  z-index: 800;
  top: 0;
  position: relative;
  justify-content: center;
  background-color: #fff;
  width: 1140px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 0 2rem;

  @include media("<xl") {
    justify-content: space-around;
    padding: 1.8rem;
   // width: 90%;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include media("<=lg") {
      justify-content: space-between;
    //  width: 100%;
      padding: 0 4rem 0 4rem;
    }

    @include media("<=sm") {
      justify-content: space-between;
     // width: 100%;
      padding: 0 0.5rem 0 0.5rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    max-width: 200px;
    min-width: 150px;
    height: auto;
    margin-right: 4rem;

    @include media("<=sm") {
      max-width: 120px;
      min-width: 0;
    }

    &--medio {
      padding: 1rem;
      width: 180px;
      height: auto;
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;

    > ul {
      width: 100%;
      display: flex;
      gap: 1.8rem;
      align-items: center;

      @media (max-width: 1300px) {
        gap: 1.2rem;
      }
    }

    &-item {
      color: #808080;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      //border: solid red 2px;

      @include media("<=lg") {
        font-size: 14px;
      }

      &--is-active {
        background-color: $default-green;
        padding: 0.8rem;
        border-radius: 10px;
        color: #fff;
        border-bottom: none;

        .tabs__tab--is-active {
          border: none;
        }
      }

      &--isCalendar {
        font-size: 28px;
        margin-right: 2rem;

        @include media("<=lg") {
          font-size: 18px;
        }
      }
    }

    @include media("<=lg") {
      display: none;
    }
  }

  &__avatarWrapper {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 1.8rem;
    position: relative;
    z-index: 1000;

    @include media("<=lg") {
      gap: 1rem;
    }

    &-avatar {
      max-width: 32px;
      height: auto;
    }

    &-nameWrapper {
      display: flex;
      flex-direction: column;
      gap: 2px;
      text-align: right;
    }

    &-name {
      text-align: right;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px;

      @include media("<=sm") {
        font-size: 12px;
      }
    }

    &-role {
      font-size: 10px;
      font-style: normal;
      font-weight: 300;
      line-height: 12px;
    }

    &-chevron {
      position: absolute;
      top: 0;
      right: -22%;
      transition: all ease-in-out 0.3s;

      &-is--rotated {
        transform: rotate(90deg);
      }
    }

    &__menuMobile {
      position: absolute;
      width: 183px;
      transform: translate(-10%, -10%);
      top: 0;
      left: 0;
      display: flex;
      padding: 1rem;
      border-radius: $radius-plataforma-semente;
      background-color: #fff;
      z-index: -1;
      box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.05);
      justify-content: center;
      max-height: 0;
      transition: max-height 0.3s ease-out;

      @include media("<=sm") {
        left: 0;
        transform: translateX(-20%);
      }

      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        min-width: 100%;
        flex-wrap: wrap;
        position: relative;
        opacity: 0;

        &:first-child {
          margin-top: 4rem;
        }
      }

      a {
        flex: 1 1 100%;
      }

      &-subitem {
        font-size: 12px;
        width: 100%;
        min-width: 100%;
        color: #808080;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        position: relative;
        display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;

        > span {
          display: block;
          min-width: 100%;
          width: 100%;
          text-align: left;
        }

        &:hover {
          color: #fff;

          &::before {
            content: "";
            width: 120%;
            height: 90%;
            display: block;
            position: absolute;
            background-color: $default-green;
            color: #fff;
            top: 0;
            padding: 0.5rem;
            left: 0;
            bottom: 0;
            right: 0;
            transform: translate(-12%, -15%);
            z-index: -2;
          }
        }
      }
    }
  }

  &__optionsMobile {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: $default-green;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    flex-direction: row;
    display: none;

    @include media("<lg") {
      display: flex;
      margin: auto;
    }

    > span {
      margin-right: 0.5rem;
    }

    &-nav {
      display: none;
      background-color: $fafafa;
      position: absolute;
      top: 100%;
      left: 0;
      height: auto;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
      padding: 1rem;
      width: 100%;
      z-index: 999;

      @include media("<lg") {
        display: flex;
      }

      &-item--is-active {
        border-bottom: solid 2px $default-green;
        font-weight: 600;
        color: $default-green;

        .tabs__tab--is-active {
          border: none;
        }
      }

      > ul {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        color: #808080;
        //font-size: 14px;

        .l-user-header__nav-item--isCalendar {
          margin: auto !important;
        }
      }
    }

    @include media("<lg") {
      width: 90%;
    }
  }

  .no-flexbox-gap & {
    > *:first-child:not(:only-child) {
      margin-bottom: $distance--md;

      @include media(">md") {
        margin-bottom: 0;
        margin-right: $distance--md;
      }
    }
  }

  @include media(">md") {
    padding-left: $distance--xl;
    padding-right: $distance--xl;
  }

  @include media(">lg") {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media(">xl") {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  // Elements
  &__role {
    display: flex;
    font-size: $font-size--xxs;
    letter-spacing: $letter-spacing--md;
    margin-right: $distance--sm;
    opacity: 0.85;
    text-transform: uppercase;

    > * + * {
      margin-left: $distance--xxs;
    }
  }

   @include media("<lg") {
    width: 90%;
   }

   @include media("<md") {
    width: 90%;
   }
}
