.main {
  $this: &;
  $container-diff: 8rem;

  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 0 1px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  padding: $main-top-padding $h-padding--xs $main-bottom-padding;
  position: relative;
  width: 1140px;

  @include media(">sm") {
    $temp: map-get($breakpoints, sm);

    max-width: calc(#{$temp} + #{$container-diff});
    padding: $main-top-padding--sm $h-padding--sm $main-bottom-padding--sm;
  }

  @include media(">md") {
    $temp: map-get($breakpoints, md);

    max-width: calc(#{$temp} + #{$container-diff});
    padding: $main-top-padding--md $h-padding--md $main-bottom-padding--md;
  }

  @include media(">lg") {
    $temp: map-get($breakpoints, lg);

    max-width: calc(#{$temp} + #{$container-diff});
    padding: $main-top-padding--lg $h-padding--lg $main-bottom-padding--lg;
  }

  &--highlight {
    padding-top: 0;
  }

  &__back {
    margin-left: -$distance--sm;

    &--adm {
      color: #8ab925;
      background-color: #fff;
      border-radius: 10px;
      padding: 0.5rem 0.8rem;
      font-size: 0.8rem;
    }
  }

  &__header {
    @include media(">sm") {
      $size: $h-padding--sm;

      margin-left: (-$size);
      margin-right: (-$size);
      padding-left: $size;
      padding-right: $size;
      padding-top: 0;
    }

    @include media(">md") {
      $size: $h-padding--md;

      margin-left: (-$size);
      margin-right: (-$size);
      padding-left: $size;
      padding-right: $size;
    }

    @include media(">lg") {
      $size: $h-padding--lg;

      margin-left: (-$size);
      margin-right: (-$size);
      padding-left: $size;
      padding-right: $size;
    }

    &--has-side-info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: $distance--sm;
      justify-content: space-between;

      @include media(">sm") {
        align-items: flex-end;
        flex-direction: row;
      }

      .no-flexbox-gap & {
        > *:not(:first-child) {
          margin-left: $distance--sm;
        }
      }
    }

    &--no-margin {
      margin-bottom: 0;
    }

    &--adm {
      position: absolute;
      right: 6%;
      top: 5rem;

      .btn {
        color: #8ab925;
        background-color: #fff;
        box-shadow: none;

        
      }
    }
  }

  &__search {
    margin-bottom: $distance--xl;
  }

  &__search-instituicao {
    width: 40%;

    @include media("<sm") {
      width: 95%;
      margin-top: 3rem;
      width: 95%;
    }
  }

  &__title {
    @include title-1;

    display: table;
    margin-bottom: $distance--xl;
    margin-right: auto;

    @include media(">sm") {
      margin-bottom: calc(#{$distance--sm} + 1vw);
    }

    &:not(:first-child) {
      margin-top: $distance--xxs;
    }

    [class*="main__header"] & {
      margin-bottom: 0;
    }

    > [class*="icon"] {
      color: $lemon-60;
      margin-right: $distance--sm;
    }

    &--adm {
      font-size: 1.3rem;
      color: #808080;
      font-weight: 700;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 1rem;
      width: 75%;
      text-align: right;
      padding-top: 0.25rem;
    }
  }

  &__subtitle {
    @include title-2;

    line-height: 1.3;
    // margin-bottom: $distance--xl;
    // margin-top: $distance--xl;

    &--timeline {
      background-color: $gray-0;
      border: 2px solid currentColor;
      border-radius: $radius--capsule;
      color: $white;
      color: $lemon-60;
      display: block;
      display: none;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: $letter-spacing--md;
      margin: $distance--md auto $distance--super;
      padding-bottom: $distance--xs;
      padding-top: $distance--xs;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      max-width: 8em;
      z-index: 2;
    }
  }

  &__subsubtitle {
    @include title-3;

    margin-bottom: $distance--sm;
  }

  &__aux-title {
    @include title-aux;

    display: block;
    margin-top: $distance--md;
  }

  &__section {
    margin-bottom: $distance--xxxl;
    position: relative;
    z-index: 1;
  }

  &__subsection {
    &:not(:first-of-type) {
      margin-top: $distance--xxxl;
    }

    > * {
      margin-bottom: $distance--xxl;
    }
  }

  //Modificadores
  [class*="--in-course"] & {
    height: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.main__conteudo {
  background-color: #fafafa;
  width: 1140px;
  margin: 2rem auto;

  input {
    border-radius: 0.5rem;
    background-color: #fafafa;
  }

  select {
    border-radius: 0.5rem;
    background-color: #fafafa;
  }

  .title-aux {
    color: #808080;
    text-transform: none;
    font-size: 0.6rem;
  }

  .icon-check {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .title-3 {
    color: #808080;
  }

  .bloco {
    min-height: 20rem;
    margin-top: auto;
    position: relative;
    .media {
      font-size: 1rem;
      color: #808080;
      font-weight: bold;

      .ativo {
        background-color: #5fb34b;
        border-radius: 1rem;
        width: 2rem;
        height: 1.5rem;
        margin-top: 0;
      }

      .btn {
        padding: 0;
        box-shadow: none;
        padding: 1em 0.5em 0.95em;
        background-color: none;
        cursor: pointer;

        :hover {
          background-color: none;
        }

         @include media("<lg") {
           padding: 1em 0.3em 0.95em;
         }
      }

      button {
        margin: 0 0.75rem 0 0;
      }

      .botoes {
        height: 1rem;
        display: flex;
      }
    }

    .segmento {
      font-size: 0.75rem;
      font-weight: normal;

      p {
        font-weight: bold;
      }
    }

    .data-up {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      font-size: 0.8rem;
      font-weight: normal;
    }



    @include media("<lg") {
      min-height: 30rem;
    }

     @include media("<md") {
      min-height: 28rem;
    }
  }

  .titulo-conteudo {
    margin: auto;
    display: inline-block;
    position: relative;

    .seta {
      position: absolute;
      top: 0;
      left: 3.8rem;

        @include media("<lg") {
      left: 5.8rem;
    }

       @include media("<md") {
      left: 4.8rem;
    }

      @include media("<sm") {
              left: 6rem;
        top: -0.2rem;
    }
    }
  }

  .box {
    border: 1px solid #8ab925;
    border-radius: 1rem;
    position: relative;
    padding: 1rem 2rem 1rem 0;
    display: inline-flex;

    width: 11rem;

    img {
      width: auto;
      max-width: fit-content;
    }

    @include media("<lg") {
      width: 95%;
      margin: 1rem auto;
          padding: 1rem 0rem 1rem 0;
    }

    @include media("<md") {
      width: 95%;
      margin: 1rem auto;
    }

     @include media("<sm") {
    padding: 1rem 2rem 1rem 2rem
     }
  }

  span {
    color: #808080;
  }

  .barra-tit {
    display: flex;
    position: relative;

     @include media("<sm") {
      display: block;
      margin-bottom: 3rem;
    }
  }

  .titulo-pag {
    font-size: 1.3rem;
    font-weight: bold;
    color: #808080;
  }

  .classificar {
    display: flex;
    position: absolute;
    right: 0;

    p {
      line-height: 2.2rem;
      margin: 0 1rem;
    }

    select {
      background-color: #fff;
    }
  }

  .list--striped{
      @include media("<sm") {
        display: inline-flex;
      }

  }

  @include media("<lg") {
    width: 90%;
    margin: auto;
  }

  @include media("<md") {
    width: 90%;
    margin: auto;
  }
}
