.timeline {
  $this: &;
  $start-unit-margin-top: 36vh;
  $start-unit-bottom-correction: $start-unit-margin-top / 2;
  $base-margin-top: 10vh;
  padding-left: 2px;

  @mixin timeline-marks {
    background-color: $timeline-marks-bg-color;
    border: 2px solid $timeline-marks-border-color;
    border-radius: $timeline-marks-radius;
    box-shadow: $timeline-marks-shadow;
    color: $timeline-marks-color;
  }

  @mixin timeline-marks {
    background-color: $timeline-marks-bg-color;
    border: 2px solid $timeline-marks-border-color;
    border-radius: $timeline-marks-radius;
    box-shadow: $timeline-marks-shadow;
    color: $timeline-marks-color;
  }

&:first-child{
  padding: 0;
  background: none;
}

  background-image: linear-gradient($timeline-color, $timeline-color);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 2px 100%;
  padding-bottom: $distance--xxl;
  padding-top: $distance--xxl;
  text-align: left;

  @include media("<sm") {
    margin-left: 2rem;
    margin-right: 0.5rem;
  }

  &__begin,
  &__end {
    ///////////
    display: none;
    ///////////

    @include title-aux($color: $gray-60, $weight: bolder);

    background-color: $timeline-begin-end-bg-color;
    border-radius: $radius;
    box-shadow: 0 0 40px transparentize($black, 0.5);
    margin-left: $timeline-translation;
    padding: $distance--sm $distance--md;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;

    @include media(">lg") {
      // transform: translateX(-50%);
    }

    &::before {
      border-color: transparent $timeline-begin-end-bg-color transparent transparent;
      border-style: solid;
      border-width: $timeline-tip-size * 0.75;
      content: "";
      display: block;
      height: 0;
      right: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9999;
    }

    &::after {
      $size: 12px;

      @include timeline-marks;

      content: "";
      height: $size;
      position: absolute;
      right: calc(100% + #{$timeline-translation});
      top: 50%;
      transform: translate(50%, -50%);
      width: $size;
    }
  }

  & iframe {
    border: 20px solid #fff;
    background-color: #fff;
    margin-left: 10vh;
    max-width: 100%;

    }
  

  &__line {
    z-index: 1;
  }

  &__mark {
    margin-top: $base-margin-top;
    position: relative;

    @include media(">sm") {
      max-width: 80%;
    }

    @include media(">md") {
      margin-top: 33vh;
      max-width: 50vw;
    }

    &--start-unit {
      margin-top: $base-margin-top;

      @include media(">md") {
        margin-top: $start-unit-margin-top;
      }
    }

    &:first-child {
      margin-top: 15vh;
    }

    &:last-child {
      margin-bottom: $distance--super;
    }

    &--fundo-video {
      background-color: #f08080;
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
    }
  }

  &__date-block {
    background-color: $gray-10;
    margin-left: $timeline-translation;
    padding: $distance--xs $distance--md;
    width: 70%;

    @include media(">lg") {
      background-color: $timeline-date-bg-color;
      border: none;
      color: $timeline-date-color;
      margin-left: 0;
      padding: $distance--md;
      position: absolute;
      right: calc(100% + #{$timeline-gap});
      top: 50%;
      transform: translateY(-50%);
      width: auto;
    }
  }

  &__end-class {
    // @include timeline-marks;

    background-color: $timeline-begin-end-bg-color;
    border-radius: $radius;
    box-shadow: 0 0 40px transparentize($black, 0.5);
    bottom: 100%;
    display: none;
    font-size: $font-size--xxs;
    font-weight: 600;
    margin-left: $timeline-translation;
    margin-top: $distance--lg;
    padding: $distance--sm $distance--lg;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(calc(-#{$base-margin-top/2} + 50%));
    white-space: nowrap;

    @include media(">md") {
      bottom: calc(100% + #{$start-unit-bottom-correction});
      right: 100%;
      position: absolute;
      transform: translate(50%, 50%);
    }

    [class*="--start-unit"] & {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }

  &__class {
    background-color: $timeline-mark-info-bg-color;
    margin-left: 5rem;
    padding: $distance--md;

 /*   &:first-child {
      margin-top: 0rem;
      padding: 0;
      padding-left: 1.5rem;
      padding-right: 2rem;
    } */

    &::before {
      border-color: transparent $timeline-mark-info-bg-color transparent transparent;
      border-style: solid;
      border-width: $timeline-tip-size;
      content: "";
      // display: none;
      height: 0;
      right: calc(100% - #{5rem});
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9999;

      @include media(">md") {
        display: block;
      }
    }

  }

  &__status {
    @include timeline-marks;

    align-items: center;
    display: flex;
    flex: 0 0 auto;
    font-size: $font-size--xs;
    height: $timeline-status-size;
    justify-content: center;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $timeline-status-size;
    z-index: 3;

    @include media(">lg") {
      left: auto;
      right: 100%;
      top: 50%;
      transform: translate(50%, -50%);
    }

    &--is-locked {
      @include text-contrast($timeline-marks-bg-color--locked);

      background-color: $timeline-marks-bg-color--locked;
    }

    &--is-play {
      @include text-contrast($timeline-marks-bg-color--locked);

      background-color: $timeline-marks-bg-color--locked;
    }
  }

  &__inner-nav {
    background-color: transparentize($color: $blue-navy-70, $amount: 0.4);
    border-radius: $radius;
    box-shadow: 0 0 24px transparentize($color: $blue-navy-70, $amount: 0.4);
    padding: 1rem;
    position: fixed;
    right: 0;
    top: calc(#{$header-height} + (2 * #{$header-v-padding}));
    z-index: 2;

    li + li {
      border-top: 1px solid transparentize($color: $white, $amount: 0.85);
      padding-top: $distance--xs;
    }

    @include media("<sm") {
      display: none;
    }
  }
}

.icone-play {
  background-image: url(/assets/img/play.png);
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  height: 25px;
  position: relative;
}

.icone-rocket {
  background-image: url(/assets/img/rocket.png);
  width: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 35px;
  position: relative;
}

.content-btn-certificado{
  text-align: right;
  position: relative;
  margin-right: 0;
}

.btn-certificado{
  position: absolute;
  right: 1rem;
  bottom: -3rem;
}


.area-certificado{
  background-color: #fff;
  position: relative;
  z-index: 1;
 // margin-bottom: 10rem;

  &__infos{
    position: absolute;
    z-index: 9;
    top: 1rem;

    @include media(">sm") {
      top: 5rem;
    }

    @include media(">md") {
      top: 5rem;
    }

    @include media(">lg") {
      top: 5rem;
    }

    &--codigo{
      text-align: right;
      font-size: 1rem;
      width: 95%;
      margin: 2rem auto 5rem;

      @include media("<sm") {
        font-size: 1rem;
        margin: 2rem auto 10rem;
      }
    }

    &--logo{
      width: 30%;
      margin: auto;
      z-index: 999999999999;
      top: 20rem;
    }

    &--assinatura{
      width: 30%;
      margin: auto;
      z-index: 999999999999;
      top: 10rem;
    }

    &--texto{
      text-align: center;
      font-size: 2rem;
      width: 80%;
      margin: 2rem auto;

      @include media("<sm") {
        font-size: 1rem;
      }
      
      @include media("<md") {
        font-size: 1rem;
      }

      @include media("<lg") {
        font-size: 1rem;
      }
    }

    &--data{
      text-align: center;
      font-size: 2rem;
      width: 80%;
      margin: 2rem auto;

      @include media("<sm") {
        font-size: 1rem;
      }

      @include media("<md") {
        font-size: 1rem;
      }

      @include media("<lg") {
        font-size: 1rem;
      }
    }
  }

  &__certificado{
    width: 80%;
    margin: auto;
    text-align: center;
   // margin-top: 2rem;
    position: relative;
   // display: inline-table;
   min-height: 50vh; 

    @include media(">sm") {
      min-height: 35rem;
    }

    @include media(">md") {
      min-height: 40rem;
    }

    @include media(">lg") {
      min-height: 50rem;
    }

    &--fundo-esq-top{
      background-image: url(/assets/img/certificado/certificado-eja_01.jpg);
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      height: 60vh;
      width: 50%;
      left: 0;
      top: 0;

      @include media("<sm") {
        height: 15vh;
      }

      @include media("<md") {
        height: 25vh;
      }
    }
    &--fundo-dir-top{
      background-image: url(/assets/img/certificado/certificado-eja_02.jpg);
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      height: 60vh;
      width: 46%;
      right: 0;
      top: 0;

      @include media("<sm") {
        height: 15vh;
      }

      @include media("<md") {
        height: 25vh;
      }
    }
    &--fundo-esq-bottom{
      background-image: url(/assets/img/certificado/certificado-eja_03.jpg);
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      background-position: bottom;
      height: 51vh;
      width: 50%;
      left: 0;
      bottom: 0;

      @include media("<sm") {
        height: 15vh;
      }

      @include media("<md") {
        height: 25vh;
      }
    }
    &--fundo-dir-bottom{
      background-image: url(/assets/img/certificado/certificado-eja_04.jpg);
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      background-position: bottom;
      height: 52vh;
      width: 50%;
      right: 0;
      bottom: 0;

      @include media("<sm") {
        height: 15vh;
      }

      @include media("<md") {
        height: 15vh;
      }
    }
  }
}

.certificado{
  &__print-canvas{
    padding: 0;
    border: 0;
    margin-bottom: 5rem;
  }

  &__eja{
    margin: 5rem -1rem;
    position: relative;
  }
}


.certificado {
  background-color: #fff;
 // height: 30rem;
  width: 21rem;
  margin: 0em auto;
  color: black;
  position: relative;
  border: 1px solid rgb(218, 218, 218);



  @include media(">sm") {
      background-color: #fff;
      height: 33rem;
      width: 80%;
      margin: 0em auto;
      color: black;
  }

  @include media(">md") {
      background-color: #fff;
      height: 33rem;
      margin: 0em auto;
      color: black;
  }

  @include media(">lg") {
      height: 50rem;
  }

  &__codigo {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      position: absolute;
      right: 2em;
      top: 1.5em;
      font-size: 0.8em;
      color: 666666;


      @include media(">sm") {
          right: 1.5em;
          top: 2em;
          font-size: 1em;
      }

      @include media(">md") {
          right: 1.5em;
          top: 2em;
          font-size: 1.2em;
      }

      @include media(">lg") {
          right: 3.5em;
          top: 3.5em;
          font-size: 1.5em;
      }
  }

  & .title-2{
      margin-top: 10rem !important;
  }

  &__logo {
      width: 30%;
      margin: 3em auto;
      padding: 3rem 0 0rem;

      @include media(">sm") {
          width: 40%;
          margin: 3em auto;
          padding: 4rem 0 0rem;
      }

      @include media(">md") {
          padding: 4rem 0 0rem;
          margin: 0em auto;
      }

      @include media(">lg") {
          padding: 8rem 0 5rem;
          margin: 0em auto;
      }
  }

  &__percurso {
      text-align: center;
      font-size: 0.7em;
      letter-spacing: 0.1em;

      @include media(">sm") {
          text-align: center;
          font-size: 1.5em;
          letter-spacing: 0.1em;
      }
  }

  &__nome {
      font-family: relation-two, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1em;
      text-align: center;

      @include media(">sm") {
          font-size: 1.5em;
      }

      @include media(">md") {
          font-size: 1.5em;
      }

      @include media(">lg") {
          font-size: 3em;
      }

      &--linha {
          border-bottom: 2px solid #000;
          width: 50%;
          text-align: center;
          margin: auto;
      }

      h3 {
          color: 666666 !important;
      }
  }

  &__data {
      width: 40%;
      text-align: center;
      margin: 6em 1em 2em 3em;
      position: relative;
      display: inline-block;
      font-family: montserrat, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 0.5em;

      @include media(">sm") {
          margin: 11em 1em 2em 13em;
          width: 30%;
      }

      @include media(">md") {
          margin:8em -4em 0em 16em;
width: 35%;
          h3{
              font-size: 2.5em;
          }
          
      }

      @include media(">lg") {
          margin: 21em 1em 2em 16em;
      }

      p {
          font-size: 0.8em; 
          letter-spacing: 0.2em;
          color: 666666;

          @include media(">md") {
              font-size: 1.8em;
          }
      }
  }

  &__assinatura {
      width: 40%;
      text-align: center;
      margin: 0em 1em 2em -1em;
      position: relative;
      display: inline-block;
      font-family: montserrat, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 0.4em;

      @include media(">sm") {
          margin: 0em 1em 2em 0em;
          width: 30%;
      }

      @include media(">md") {
          margin: 10em 1em 2em 0em;
          width: 35%;

      }

      @include media(">lg") {
          margin: 0em 1em 2em 0em;
      }

      img {
          width: 75%;
      }
      p {
          font-size: 1em;
          letter-spacing: 0.2em;
          color: 666666;

          @include media(">md") {
              font-size: 2em;
  
  
          }
      }
  }

  &__detalhe-esq-botom{
      position: relative;
      margin: 0rem 0rem;

      @include media(">lg") {
      margin: 3rem 1rem;
      }
  }

  &__detalhe-dir-top{
      position: relative;
      margin: 0rem 0rem;

      @include media(">sm") {
          position: relative;
          margin: -1em 0rem;
          }

      @include media(">md") {
      position: relative;
      margin: 0.3em 0rem;
      }

      @include media(">lg") {
          position: relative;
          margin: -9rem 0rem;
          }
  }

  &__detalhe-esq-top {
      border-bottom-right-radius: 100%;
      width: 4rem;
      height: 4rem;
      background-color: #f25626;
      position: absolute;

      @include media(">md") {
          width: 13rem;
          height: 13rem;
      }

      @include media(">lg") {
          width: 13rem;
          height: 13rem;
      }

      &--int-branco {
          border-bottom-right-radius: 100%;
          width: 2.5rem;
          height: 2.5rem;
          background-color: rgb(255, 255, 255);

          @include media(">md") {
          width: 10.5rem;
          height: 10.5rem;
          }

          @include media(">lg") {
              width: 9.5rem;
              height: 9.5rem;
          }
      }

      &--int-laranja {
          border-bottom-right-radius: 100%;
          width: 2rem;
          height: 2rem;
          background-color: #f25626;


          @include media(">md") {
          width: 8rem;
          height: 8rem;
          }

          @include media(">lg") {
              width: 8rem;
              height: 8rem;
          }
      }

      &--int-branco-int {
          border-bottom-right-radius: 100%;
          width: 1.5rem;
          height: 1.5rem;
          background-color: rgb(255, 255, 255);

          @include media(">md") {
          width: 5.5rem;
          height: 5.5rem;
          }


          @include media(">lg") {
              width: 5rem;
              height: 5rem;
          }
      }

      &--int-laranja-int {
          border-bottom-right-radius: 100%;
          width: 1rem;
          height: 1rem;
          background-color: #f25626;

          
          @include media(">md") {
          width: 4rem;
          height: 4rem;
          }

          @include media(">lg") {
              width: 3.5rem;
              height: 3.5rem;
          }
      }

      &--int-branco-int2 {
          border-bottom-right-radius: 100%;
          width: 0.5rem;
          height: 0.5rem;
          background-color: rgb(255, 255, 255);

          @include media(">md") {
          width: 1.5rem;
          height: 1.5rem;
          }

          @include media(">lg") {
              width: 1rem;
              height: 1rem;
          }
      }
  }

  &__borda-dir-topo {
      margin: 0 auto;
      height: 181px;
      position: absolute;
      top: -14.1em;
      right: 0.5em;
      width: 278px;
      border: 3px solid transparent;
      -o-border-image: -o-linear-gradient(45deg, white 60%, black);
      border-image: linear-gradient(33deg, #ffffff00 66%, black 43%, #1114171a 94%, black 98%);
      border-image-slice: 1;


      @include media(">sm") {
          top: -20.5em;
          right: 0.5em;
      }

      @include media(">md") {
          top: -27em;
          right: 0.5em;
          width: 700px;
          height: 240px;
      }

      @include media(">lg") {
          margin: 0 auto;
          height: 181px;
          position: absolute;
          top: -14.1em;
          height: 737px;
          position: absolute;
          width: 825px;
          top: -30em;
          right: 3em;
          border: 5px solid transparent;
          -o-border-image: -o-linear-gradient(45deg, white 60%, black);
          border-image: linear-gradient(
      33deg
      , #ffffff00 66%, black 43%, #1114171a 94%, black 98%);
          border-image-slice: 1;
      }
  }

  &__borda-dir-topo-baixo {
      margin: 0 auto;
      height: 181px;
      position: absolute;
      top: -13.7em;
      right: 1em;
      width: 278px;
      border: 3px solid transparent;
      -o-border-image: -o-linear-gradient(45deg, white 60%, black);
      border-image: linear-gradient(33deg, #ffffff00 66%, black 43%, #1114171a 94%, black 98%);
      border-image-slice: 1;


      @include media(">sm") {
          margin: 0 auto;
          height: 132px;
          position: absolute;
          top: -20em;
          right: 1em;
          width: 436px;
          border: 3px solid transparent;
          -o-border-image: -o-linear-gradient(45deg, white 60%, black);
          border-image: linear-gradient(
      32deg
      , #ffffff00 68%, black 58%, #1114171a 81%, black 98%);
          border-image-slice: 1;
      }

      @include media(">md") {
          top: -26.5em;
          right: 1em;
          width: 712px;
          height: 300px;
      }

      @include media(">lg") {
          margin: 0 auto;
          height: 737px;
          position: absolute;
          width: 825px;
          top: -29em;
          right: 4em;
          border: 5px solid transparent;
          -o-border-image: -o-linear-gradient(45deg, white 60%, black);
          border-image: linear-gradient(33deg, #ffffff00 66%, black 43%, #1114171a 94%, black 98%);
          border-image-slice: 1;
      }
  }

  &__carga-horaria{
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 1rem;
  }

  &__borda-esq-topo {
      margin: 0 auto;
      height: 219px;
      position: absolute;
      bottom: -1em;
      left: 0.5em;
      width: 298px;
      border: 3px solid transparent;
      -o-border-image: -o-linear-gradient(45deg, white 60%, black);
      border-image: linear-gradient(
  207deg
  , #ffffff00 70%, black 58%, #1114171a 85%, black 98%);
      border-image-slice: 1;


    
      @include media(">sm") {
          left: 0.5em;
          bottom: -5em;
          margin: 0 auto;
          height: 250px;
          position: absolute;
          width: 400px;
          border: 3px solid transparent;
          -o-border-image: -o-linear-gradient(45deg, white 60%, black);
          border-image: linear-gradient(211deg, #ffffff00 70%, black 58%, #1114171a 85%, black 98%);
          border-image-slice: 1;
      }

      @include media(">md") {
          bottom: -3.5em;
           left: 1em;
          width: 790px;
      }

      @include media(">lg") {
          margin: 0 auto;
          height: 529px;
          position: absolute;
          bottom: -1em;
          left: 0.5em;
          width: 1202px;
          bottom: -10em;
          left: 3em;
          border: 5px solid transparent;
          -o-border-image: -o-linear-gradient(45deg, white 60%, black);
          border-image: linear-gradient(
      216deg
      , #ffffff00 70%, black 58%, #1114171a 85%, black 98%);
          border-image-slice: 1;
      }
  }

  &__borda-esq-topo-baixo {
      margin: 0 auto;
      height: 230px;
      position: absolute;
      height: 237px;
      position: absolute;
      bottom: -0.5em;
      left: 1em;
      width: 224px;
      border: 3px solid transparent;
      -o-border-image: -o-linear-gradient(45deg, white 60%, black);
      border-image: linear-gradient(
  207deg
  , #ffffff00 69%, black 58%, #1114171a 81%, black 98%);
      border-image-slice: 1;

   
      @include media(">sm") {
          bottom: -4.5em;
          left: 1em;
          margin: 0 auto;
          height: 256px;
          position: absolute;
          width: 402px;
          border: 3px solid transparent;
          -o-border-image: -o-linear-gradient(45deg, white 60%, black);
          border-image: linear-gradient(212deg, #ffffff00 69%, black 58%, #1114171a 81%, black 98%);
          border-image-slice: 1;
      }

      @include media(">md") {
          bottom: -4em;
          left: 0.5em;
          width: 700px;
      }

      @include media(">lg") {
          margin: 0 auto;
          height: 737px;
          position: absolute;
          width: 825px;
          bottom: -11em;
          left: 2em;
          border: 5px solid transparent;
          -o-border-image: -o-linear-gradient(45deg, white 60%, black);
          border-image: linear-gradient(
      216deg
      , #ffffff00 69%, black 58%, #1114171a 81%, black 98%);
          border-image-slice: 1;
      }
  }
  &__detalhe-dir-botom {
      position: absolute;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      bottom: 0px;
      right: 0px;
  
  

      @include media(">sm") {
          bottom:0px;
          right: 0px;
      }

      @include media(">md") {
          bottom: 0px;
          right: 0px;
      }

      @include media(">lg") {
          bottom: 0em;
          right: 0em;
      }
  }

  
  @media print{
      
      &__print-canvas {
          
          
          page-break-inside: avoid;
          position: absolute;
          display: block;
          margin: 2rem;
          left: 50%;
          transform: translateX(-50%);
          
      }

      &__print-cert {
          overflow: hidden;
          transform: scale(1.2);
          overflow: hidden !important;
          height: fit-content;
          width: 100%;
          
      }

      &__noprint{
          display:none;
      }
      
    
   }

}

.btn-imprimir {
  text-align: end;
  /* margin: 10.2rem; */
  background-color: #f25626;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  margin: 0.5rem 0;
  top: 3rem;
  right: 1rem;
  cursor: pointer;


  @include media(">lg") {
  top: 0rem;
  right: 14rem;
  }

}


