<div class="form-group form-group--aired-h m-top--sm">
    <label class="form-group__label">{{label}}</label>
    <span class="switch switch--institutions">
        {{input class="switch__checkbox" type="checkbox" checked=(get changeset propertyName)}}
        <label class="switch__label" for="{{propertyName}}">
            <span class="switch__inner"></span>
            <span class="switch__head"></span>
        </label>
    </span>
</div>