.sections {
    &__section {
        // margin-bottom: $distance--lg;
        // position: relative;
        // z-index: 1;

        // &:last-child { margin-bottom: 0; }

        // > * {
        //     margin-bottom: $distance--lg;
        //     &:last-child { margin-bottom: 0; }
        // }

        // @include media('>md') {
        //     margin-bottom: $distance--xxxl;
        //     &:last-child { margin-bottom: 0; }

        //     > * {
        //         margin-bottom: $distance--xxxl;
        //         &:last-child { margin-bottom: 0; }
        //     }

        // }


        &--adm{
            input{
                background-color: #fff;
                border-bottom: 1px solid #CFCFCF;
                font-size: .8rem;
                width: 20rem;

                & ::after{
                    content: 'Buscar';
                    color: aqua;
                }
             }
        }

        &--instituicao{
            display: flex;

            @include media('<md') {
                display: contents;
              }

              @include media('<sm') {
                display: contents;
                margin-top: 2rem !important;
              }
        }
    }



    &__subsection {
        > * {
            margin-top: $distance--xs;
        }
    }

}
