

<div class="main__back-container">
  <button class="btn btn--link color-blue-navy-60" {{action 'goToAulas' on="click" }} type="button">
    <span class="btn__icon icon-chevron-left"></span>
    <span class="btn__voltar">Voltar</span>
  </button>
</div>

<div class="row flow-lg">
  <h2 class="col-xs-12 title-2">Meu calendario</h2>
</div>