{{header-geral  
parentController = this.aulasController
pessoa=model
thisRoute=thisRoute
route='conteudos'
}}

<main class=" main__conteudo pt-1">
    <div class="barra-tit">
        <p class="titulo-pag">Conteúdos</p>
    <div class="classificar">
        <p>Classificar por:</p> <select>
    <option value="0">data de upload</option>

  </select>
    </div>
    </div>
    
    {{outlet}}
</main>